In [40]:
from lib import *

data = read_datacsv("./data.csv", nrows=100000)
data.head()

                        open     high      low    close  volume
datetime
2017-01-02 17:03:00  2364.50  2365.00  2364.50  2364.75     209
2017-01-02 17:04:00  2364.75  2364.75  2364.50  2364.75     114
2017-01-02 17:05:00  2364.50  2365.75  2364.50  2365.75     479
2017-01-02 17:06:00  2365.75  2365.75  2365.25  2365.25     207
2017-01-02 17:07:00  2365.50  2365.50  2364.50  2364.75     164

In [42]:
vv = generate_volumebars(data, 10000)
vv

                        high      low    close  volume
datetime
2017-01-02 17:03:00  2366.25  2361.75  2362.50    9971
2017-01-02 19:42:00  2369.00  2362.50  2368.25    9932
2017-01-03 00:48:00  2371.25  2368.25  2371.00   10062
2017-01-03 02:13:00  2373.00  2370.25  2371.00   10012
2017-01-03 02:55:00  2372.75  2369.50  2371.75    9870
...                      ...      ...      ...     ...
2017-04-17 15:15:00  2470.25  2468.25  2469.00   11620
2017-04-17 17:41:00  2471.50  2468.00  2468.25    9807
2017-04-17 20:52:00  2469.50  2467.75  2469.50   10218
2017-04-18 01:12:00  2470.00  2467.00  2467.25    9734
2017-04-18 02:38:00  2467.25  2464.75  2466.25    8434

[4929 rows x 4 columns]

In [43]:
labeled_data = labelling(vv, length=50, dynamic=True, period=30, beta=1.5)
labeled_data

                        high      low    close  volume  labels
datetime
2017-01-02 17:03:00  2366.25  2361.75  2362.50    9971       0
2017-01-02 19:42:00  2369.00  2362.50  2368.25    9932       0
2017-01-03 00:48:00  2371.25  2368.25  2371.00   10062       0
2017-01-03 02:13:00  2373.00  2370.25  2371.00   10012       0
2017-01-03 02:55:00  2372.75  2369.50  2371.75    9870       0
...                      ...      ...      ...     ...     ...
2017-04-13 15:07:00  2450.75  2448.50  2450.50   11085       1
2017-04-13 15:13:00  2451.25  2450.00  2450.75    4389       1
2017-04-13 15:15:00  2452.50  2447.25  2450.50   15535       1
2017-04-16 17:31:00  2451.50  2447.75  2447.75   10111       1
2017-04-16 20:36:00  2450.25  2447.25  2449.75   10042       1

[4879 rows x 5 columns]

In [44]:
label_counts = labeled_data['labels'].value_counts()
print(label_counts)

labels
 1    2564
-1    2258
 0      57
Name: count, dtype: int64