In [1]:
from lib import *

data = read_datacsv("./data.csv", nrows=100000)
data.head()

                        open     high      low    close  volume
datetime
2017-01-02 17:03:00  2364.50  2365.00  2364.50  2364.75     209
2017-01-02 17:04:00  2364.75  2364.75  2364.50  2364.75     114
2017-01-02 17:05:00  2364.50  2365.75  2364.50  2365.75     479
2017-01-02 17:06:00  2365.75  2365.75  2365.25  2365.25     207
2017-01-02 17:07:00  2365.50  2365.50  2364.50  2364.75     164

In [2]:
lab = labeler(data, 
              vol_thresholds=[5000, 10000],
              horizons=[50, 100],
              betas=[1, 1.5],
              periods=[14, 50])
dicc = lab.run_labeler()

In [23]:
# Por este motivo guarde en un diccionario y no en dataframe, 
# la logitud de la data etiquetada es variable
for i in dicc.values():
    print(len(i))

9411
9411
9411
9411
9411
9411
9411
9411
9361
9361
9361
9361
9361
9361
9361
9361
4879
4879
4879
4879
4879
4879
4879
4879
4829
4829
4829
4829
4829
4829
4829
4829

In [19]:
first_key = next(iter(dicc))
print(first_key)
first_value = dicc[first_key]
first_value

v_5000, h_50, b_1, p_14, ATR

                        high      low    close  volume  labels
datetime
2017-01-02 17:03:00  2366.25  2364.00  2364.00    4961       0
2017-01-02 18:07:00  2364.50  2361.75  2362.50    5010       0
2017-01-02 19:42:00  2366.50  2362.50  2366.00    5003       0
2017-01-02 22:54:00  2369.00  2366.00  2368.25    4929       0
2017-01-03 00:48:00  2370.75  2368.25  2370.50    4686       0
...                      ...      ...      ...     ...     ...
2017-04-17 11:02:00  2461.75  2460.50  2461.25    4903       1
2017-04-17 11:10:00  2462.25  2461.00  2462.25    4592       1
2017-04-17 11:20:00  2463.50  2461.75  2463.00    5457       1
2017-04-17 11:25:00  2463.75  2462.25  2462.50    4308       0
2017-04-17 11:32:00  2463.00  2461.00  2462.00    5454       0

[9411 rows x 5 columns]